<div class="login">
   <form class="d-b ta-c" name="form">
     <div class="form-line ta-l p-r">
           <span class="account d-ib vt icon"></span>
           <input class="d-ib" type="text" placeholder="请输入手机号" ng-model="user.phone" validator="required,phone" name="phone">
     </div>
       <div class="form-line ta-l p-r">
           <span class="lock d-ib vt icon"></span>
            <input class="d-ib" type="text" placeholder="请输入密码" validator="password" ng-model="user.password" name="required,password">
      </div>     
       <button class="login-btn" ng-click="submit()" validation-submit="form">登录</button>
       <button class="regist-btn" ui-sref="regist">注册</button>
   </form>
</div>